<div id="footer">
    <div class="footer-container">
        <div class="container__destinations footer-item">
            <h2>Top destinations</h2>
            <ul>
                <li><a href="#">Indonesia, Jakarta</a></li>
                <li><a href="#">Maldives, Malé</a></li>
                <li><a href="#">Australia, Canberra</a></li>
                <li><a href="#">Thailand, Bangkok</a></li>
                <li><a href="#">Morocco, Rabat</a></li>
            </ul>
        </div>
        <div class="container__categories footer-item">
            <h2>Categories</h2>
            <ul>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Fashion</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="#">Food & drink</a></li>
            </ul>
        </div>
        <div class="container__quick-links footer-item">
            <h2>Quick links</h2>
            <ul>
                <li><a href="/about-us">About</a></li>
                <li><a href="/contact-us">Contact</a></li>
                <li><a href="/tours">Tours</a></li>
                <li><a href="/booking">Booking</a></li>
                <li><a href="#">Term & Conditions</a></li>
            </ul>
        </div>
        <div class="container__get-mail footer-item">
            <h2>Get a newsletter</h2>
            <p style="white-space: wrap;">For the latest deals and tips, travel no further than your inbox</p>
            <form action="" id="get-email-subscrise">
                <input type="email" id="get-useremail" name="get-useremail" id="get-username"
                    placeholder="Email address">
                <input type="submit" id="submit-email-subscribe" value="Subscribe">
            </form>
        </div>
    </div>
    <div class="below-container">
        <div class="below-container__left">
            <img src="/assets/images/footer-logo.png" alt="Logo">
            <p>&#169 2022 All Right Reserved</p>
        </div>
        <div class="below-container__right">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            <a href=""><i class="fa-brands fa-google-plus-g"></i></a>
        </div>
    </div>
</div>