<header id="header">
    <!-- Logo -->
    <img class="header__logo" src="/assets/images/logo.png" alt="">
    <!-- Navbar -->
    <nav class="navbar">
        <ul>
            <li><a class="navbar__link" href="/">Home</a></li>
            <li><a class="navbar__link" href="/about-us">About Us</a></li>
            <li><a class="navbar__link" href="/tours">Tours</a></li>
            <li><a class="navbar__link" href="/destinations">Destinations</a></li>
            <li><a class="navbar__link" href="/blog">Blog</a></li>
            <li><a class="navbar__link" href="/contact-us">Contact us</a></li>
            <li>
                <button type="button" id="header-action__booking" onclick="navigateToBooking()">Booking Now</button>
            </li>
        </ul>
    </nav>
    <!-- actions  -->
    <div class="header-action">
        <button type="button" id="header-action__account"><i class="fa fa-user" aria-hidden="true"></i></button>
        <!-- Mobile menu -->
        <button id="mobile-menu" class="mobile-menu-btn">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
</header>

