<!-- Banner -->
<section class="banner">
    <img class="img" src="/assets/images/banner.png" alt="">
    <div class="banner-container">
        <h1>Blog</h1>
        <div class="info">
            <a href="">Home</a>
            <p>/</p>
            <a class="a-banner" href="">Blog</a>
        </div>
    </div>
</section>

<section class="section-spacing latest-articles">
    <div class="articles-container">
        <div class="article">
            <div class="article-image">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/z5953334851636_7600d8cc10505323c1e37b07899e11e7.jpg?v=1729510159642"
                    alt="Hình ảnh bài viết 1">
                <div class="date-badge">04 Dec</div>
            </div>
            <div class="article-info">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/Screenshot%202024-10-21%20183257.png?v=1729510421988"
                    alt="Ảnh tác giả">
                <div class="article-details">
                    <span class="author">Jony Bristow</span>
                    <span class="role">Admin</span>
                    <span class="time">10:30 AM</span>
                </div>
            </div>
            <p>A good traveler has no fixed plans and is not intent on arriving.</p>
            <a href="/blog/details-blog">Read More</a>
        </div>
        <div class="article">
            <div class="article-image">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/z5953334846873_330b0331f4dc0c04a27ca7a710c6c05d.jpg?v=1729510060525"
                    alt="Hình ảnh bài viết 2">
                <div class="date-badge">04 Dec</div>
            </div>
            <div class="article-info">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/Screenshot%202024-10-21%20183257.png?v=1729510421988"
                    alt="Ảnh tác giả">
                <div class="article-details">
                    <span class="author">Jony Bristow</span>
                    <span class="role">Admin</span>
                    <span class="time">10:30 AM</span>
                </div>
            </div>
            <p>A good traveler has no fixed plans and is not intent on arriving.</p>
            <a href="/blog/details-blog">Read More</a>
        </div>

        <div class="article">
            <div class="article-image">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/z5953334837314_caaa7be62c1da7ae0ce87170be30cce7.jpg?v=1729510022986"
                    alt="Hình ảnh bài viết 3">
                <div class="date-badge">04 Dec</div>
            </div>
            <div class="article-info">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/Screenshot%202024-10-21%20183257.png?v=1729510421988"
                    alt="Ảnh tác giả">
                <div class="article-details">
                    <span class="author">Jony Bristow</span>
                    <span class="role">Admin</span>
                    <span class="time">10:30 AM</span>
                </div>
            </div>
            <p>A good traveler has no fixed plans and is not intent on arriving.</p>
            <a href="/blog/details-blog">Read More</a>
        </div>


        <div class="article">
            <div class="article-image">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/z5953334837314_caaa7be62c1da7ae0ce87170be30cce7.jpg?v=1729510022986"
                    alt="Hình ảnh bài viết 3">
                <div class="date-badge">04 Dec</div>
            </div>
            <div class="article-info">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/Screenshot%202024-10-21%20183257.png?v=1729510421988"
                    alt="Ảnh tác giả">
                <div class="article-details">
                    <span class="author">Jony Bristow</span>
                    <span class="role">Admin</span>
                    <span class="time">10:30 AM</span>
                </div>
            </div>
            <p>A good traveler has no fixed plans and is not intent on arriving.</p>
            <a href="/blog/details-blog">Read More</a>
        </div>

        <div class="article">
            <div class="article-image">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/z5953334837314_caaa7be62c1da7ae0ce87170be30cce7.jpg?v=1729510022986"
                    alt="Hình ảnh bài viết 3">
                <div class="date-badge">04 Dec</div>
            </div>
            <div class="article-info">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/Screenshot%202024-10-21%20183257.png?v=1729510421988"
                    alt="Ảnh tác giả">
                <div class="article-details">
                    <span class="author">Jony Bristow</span>
                    <span class="role">Admin</span>
                    <span class="time">10:30 AM</span>
                </div>
            </div>
            <p>A good traveler has no fixed plans and is not intent on arriving.</p>
            <a href="/blog/details-blog">Read More</a>
        </div>


        <div class="article">
            <div class="article-image">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/z5953334837314_caaa7be62c1da7ae0ce87170be30cce7.jpg?v=1729510022986"
                    alt="Hình ảnh bài viết 3">
                <div class="date-badge">04 Dec</div>
            </div>
            <div class="article-info">
                <img src="https://cdn.glitch.global/280ed750-31f9-4613-8bb6-ffc8c49d6fcc/Screenshot%202024-10-21%20183257.png?v=1729510421988"
                    alt="Ảnh tác giả">
                <div class="article-details">
                    <span class="author">Jony Bristow</span>
                    <span class="role">Admin</span>
                    <span class="time">10:30 AM</span>
                </div>
            </div>
            <p>A good traveler has no fixed plans and is not intent on arriving.</p>
            <a href="/blog/details-blog">Read More</a>
        </div>
    </div>
</section>