<!-- Banner -->
<section class="banner">
    <img class="img" src="/assets/images/banner.png" alt="">
    <div class="banner-container">
        <h1>Destination</h1>
        <div class="info">
            <a href="">Home</a>
            <p>/</p>
            <a class="a-banner" href="">Destination</a>
        </div>
    </div>
</section>

<section class="section-spacing destination">
    <div class="top-container">
        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti1.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Malé</h4>
                    <h3>Maldives</h3>
                </div>
            </a>
        </div>
        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti2.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Bangkok</h4>
                    <h3>Thailand</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="bottom-container" style="margin-top: 32px;">
        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti3.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Kuala Lumpur</h4>
                    <h3>Malaysia</h3>
                </div>
            </a>
        </div>

        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti4.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Kathmandu</h4>
                    <h3>Nepal</h3>
                </div>
            </a>
        </div>

        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti5.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Jakarta</h4>
                    <h3>Indonesia</h3>
                </div>
            </a>
        </div>

        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti3.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Kuala Lumpur</h4>
                    <h3>Malaysia</h3>
                </div>
            </a>
        </div>

        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti4.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Kathmandu</h4>
                    <h3>Nepal</h3>
                </div>
            </a>
        </div>

        <div class="destination-item">
            <a href="/tours" class="image-transition">
                <img src="images/desti5.png" alt="">
                <div class="overlay"></div>
                <div class="info-overlay">
                    <h4>Jakarta</h4>
                    <h3>Indonesia</h3>
                </div>
            </a>
        </div>
    </div>
</section>