<!-- Banner -->
<section class="banner">
    <img class="img" src="/assets/images/banner.png" alt="">
    <div class="banner-container">
        <h1>Tour list</h1>
        <div class="info">
            <a href="/">Home</a>
            <p>/</p>
            <a class="a-banner" href="">Tour list</a>
        </div>
    </div>
</section>
{{!-- Details tour --}}
<div class="details-tours">
    <div class="main-container">
        <div class="tour-list-details">
            <img src="/images/tour1.png" alt="" class="card-img-top">
            <div class="tour-body">
                <div class="tour-content">
                    <h2>A good traveler has no fixed plans and is not intent on arriving.</h2>
                    <span class="tour-place">Kuala Lumpur, Malaysia</span>
                </div>
                <div class="h-border"></div>
                <div class="tour-tags">
                    <span class="tour-rating">
                        <i class="fas fa-history"></i> 12 days </span> <br>
                    <span class="tour-rating t-rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i> (2) </span>
                    <div class="tour-tag-btn">
                        <span class="tour-price">From $50.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-container">

        <div class="left-container">
            <div class="tours-overview">
                <h2 class="faq-hedar">Overview</h2>
                <p class="tour-title"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown to
                    printer took a galley of type and scrambled it
                    to make a type specimen book. It has that's survived not only five centuries, but also the leap
                    into electronic typesetting, remaining essentially unchanged. </p>
            </div>

            <h2 class="faq-hedar">Tour Amenities</h2>
            <div class="blog-single-list">
                <div class="list-item">
                    <ul>
                        <li>
                            <i class="fas fa-check"></i>Cruise dinner &amp; music event
                        </li>
                        <li>
                            <i class="fas fa-check"></i>3 Meal per day
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Pick and drop services
                        </li>
                    </ul>
                </div>
                <div class="list-item">
                    <ul>
                        <li>
                            <i class="fas fa-check"></i>Smoking allow
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Valet parking
                        </li>
                        <li>
                            <i class="fas fa-check"></i>Visit 4 best places with group
                        </li>
                    </ul>
                </div>
            </div>

            <h2 class="faq-hedar">Tour Plan</h2>
            <div class="tour-plan-items">
                <div class="plan-item">
                    <h3 class="plan-title">Day 1:</h3>
                    <div class="plan-content">
                        <h3>Jakarta, Indonesia</h3>
                        <span>8:00 am to 8:00 pm</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. lorem been the
                            industry's standard dummy text ever since the 1500s, when an unknown to printer took a
                            galley of type and scrambled. </p>
                        <span class="tour-facilities">-Free drinks</span> <br>
                        <span class="tour-facilities">-Awesome breakfast</span> <br>
                        <span class="tour-facilities">-Unlimited coffee</span>
                    </div>
                </div>
                <div class="plan-item">
                    <h3 class="plan-title">Day 2:</h3>
                    <div class="plan-content">
                        <h3>Bangkok, Thailand</h3>
                        <span>8:00 am to 8:00 pm</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. lorem been the
                            industry's standard dummy text ever since the 1500s, when an unknown to printer took a
                            galley of type and scrambled. </p>
                        <span class="tour-facilities">-Free drinks</span> <br>
                        <span class="tour-facilities">-Awesome breakfast</span> <br>
                        <span class="tour-facilities">-Unlimited coffee</span>
                    </div>
                </div>
                <div class="plan-item">
                    <h3 class="plan-title">Day 3:</h3>
                    <div class="plan-content">
                        <h3>Jakarta, Indonesia</h3>
                        <span>8:00 am to 8:00 pm</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. lorem been the
                            industry's standard dummy text ever since the 1500s, when an unknown to printer took a
                            galley of type and scrambled. </p>
                        <span class="tour-facilities">-Free drinks</span> <br>
                        <span class="tour-facilities">-Awesome breakfast</span> <br>
                        <span class="tour-facilities">-Unlimited coffee</span>
                    </div>
                </div>
            </div>
            <h2 class="faq-hedar">Tour Location</h2>
            <div class="contact-map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3988.8270523294163!2d103.8527512!3d1.2772197!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1632647635261!5m2!1sen!2sbd"
                    class="google-map" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <h2 class="faq-hedar">Frequently Asked Question</h2>
            <div id="accordionExample">
                <div class="accordion-item">
                    <h3>How to book the new tour for 2 persons?</h3>
                    <div class="card-body">
                        Lorem Ipsum available, but the majority have suffered alteration in some form, by
                        injected humour, or randomised words which don't look even slightly believable. If you
                        are going to use a passage of lorem Ipsum you need to be sure there isn't anything.
                    </div>
                </div>
                <div class="accordion-item">
                    <h3>Why are your tours so expensive?</h3>
                    <div class="card-body">
                        Lorem Ipsum available, but the majority have suffered alteration in some form, by
                        injected humour, or randomised words which don't look even slightly believable. If you
                        are going to use a passage of lorem Ipsum you need to be sure there isn't anything.
                    </div>
                </div>
                <div class="accordion-item">
                    <h3>Which payment methods are acceptable?</h3>
                    <div class="card-body">
                        Lorem Ipsum available, but the majority have suffered alteration in some form, by
                        injected humour, or randomised words which don't look even slightly believable. If you
                        are going to use a passage of lorem Ipsum you need to be sure there isn't anything.
                    </div>
                </div>
            </div>
            <div class="blog-details-reply">
                <h2 class="faq-hedar">One Review</h2>
                <div class="blog-reply-wrapper">
                    <div class="blog-reply-item">
                        <div class="blog-reply-img">
                            <img src="/images/comment.png" alt="">
                        </div>
                        <div class="blog-reply-content">
                            <p style="margin: 0; font-size: 20px; font-weight">David Warner</p>
                            <span class="reply-date">21 December, 2021</span> <br>
                            <span class="tour-rating" style="line-height: 32px; color: #F7931E">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                            <p style="line-height: 28px;">Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by
                                injected humour, or randomised words which don't look even slightly believable </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-form-wrapper">
                <h3 class="faq-hedar">Write a Review</h3>
                <div class="form-rating">
                    <span class="rating">Rating: </span>
                    <span class="tour-rating">
                        <i class="fas fa-star active"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
                <div class="contact-form">
                    <form action="#">
                        <input type="text" class="form-control" id="your_name" placeholder="Enter your name">

                        <input type="email" class="form-control" id="email_address" placeholder="Enter email address">

                        <textarea class="form-control" id="keyword" rows="6" placeholder="Type you keyword"></textarea>

                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="booking-bg">
                <h2 class="form-hader"> Book This Tour </h2>
                <form action="#">
                    <div class="tour-input">
                        <label class="date-label">
                            <i class="far fa-calendar-alt"></i>
                            <span>Date from:</span>
                        </label>
                        <input type="text" class="form-control booking-from" id="inputAddress">
                    </div>

                    <div class="tour-input">
                        <label class="date-label">
                            <i class="fas fa-history"></i>
                            <span>Time:</span>
                        </label>
                        <input type="text" class="form-control" id="inputAddress2">
                    </div>

                    <p class="tour-ticket">Tickets: <span>Please, select date first</span>
                    </p>

                    <p class="from-text" style="color: #666666;">Add Extra</p>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck"> Service per booking <span
                                class="booking-price">
                                $50.00</span>
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1"> Service per person </label>
                    </div>
                    <p class="total-tour">
                        <span class="service-price">Adult: $50</span>
                        <span class="service-price">Youth: $55</span>
                        <span class="service-price">Children: $ 30</span>
                    </p>
                    <p class="total-tour">
                        <span class="tour-total">Total:</span>
                    </p>
                    <button type="submit" class="booking-bt btn btn-primary">Book Now</button>
                </form>
            </div>
                <div class="discount-offer" style="margin-top: 20px">
                    <img src="/images/black-friday.png" alt="Discount Image">
                </div>
        </div>
    </div>
</div>