<!-- Banner -->
<section class="banner">
    <img class="img" src="/assets/images/banner.png" alt="">
    <div class="banner-container">
        <h1>Tour list</h1>
        <div class="info">
            <a href="/">Home</a>
            <p>/</p>
            <a class="a-banner" href="">Tour list</a>
        </div>
    </div>
</section>
<!-- ss1 -->
<section>
    <div class="ss1">
        <div class="card">
            <img alt="Scenic view of a rock formation with a blue sky in the background" height="200"
                src="/images/tour1.png"
                width="300" />
            <div class="badge">
                12 Days
            </div>
            <div class="content">
                <div class="price">
                    From $50.00
                </div>
                <div class="rating">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                    (2)
                </div>
                <div class="description">
                    A good traveler has no fixed plans and is not intent on arriving.
                </div>
                <div class="location">
                    Kuala Lumpur, Malaysia
                </div>
            </div>
        </div>
        <div class="card">
            <img alt="Scenic view of a rock formation with a blue sky in the background" height="200"
                src="/images/tour1.png"
                width="300" />
            <div class="badge">
                12 Days
            </div>
            <div class="content">
                <div class="price">
                    From $50.00
                </div>
                <div class="rating">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                    (2)
                </div>
                <div class="description">
                    A good traveler has no fixed plans and is not intent on arriving.
                </div>
                <div class="location">
                    Kuala Lumpur, Malaysia
                </div>
            </div>
        </div>
        <div class="card">
            <img alt="Scenic view of a rock formation with a blue sky in the background" height="200"
                src="/images/tour1.png"
                width="300" />
            <div class="badge">
                12 Days
            </div>
            <div class="content">
                <div class="price">
                    From $50.00
                </div>
                <div class="rating">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                    (2)
                </div>
                <div class="description">
                    A good traveler has no fixed plans and is not intent on arriving.
                </div>
                <div class="location">
                    Kuala Lumpur, Malaysia
                </div>
            </div>
        </div>
        <div class="card">
            <img alt="Scenic view of a rock formation with a blue sky in the background" height="200"
                src="/images/tour1.png"
                width="300" />
            <div class="badge">
                12 Days
            </div>
            <div class="content">
                <div class="price">
                    From $50.00
                </div>
                <div class="rating">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                    (2)
                </div>
                <div class="description">
                    A good traveler has no fixed plans and is not intent on arriving.
                </div>
                <div class="location">
                    Kuala Lumpur, Malaysia
                </div>
            </div>
        </div>
        <div class="card">
            <img alt="Scenic view of a rock formation with a blue sky in the background" height="200"
                src="/images/tour1.png"
                width="300" />
            <div class="badge">
                12 Days
            </div>
            <div class="content">
                <div class="price">
                    From $50.00
                </div>
                <div class="rating">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                    (2)
                </div>
                <div class="description">
                    A good traveler has no fixed plans and is not intent on arriving.
                </div>
                <div class="location">
                    Kuala Lumpur, Malaysia
                </div>
            </div>
        </div>
        <div class="card">
            <img alt="Scenic view of a rock formation with a blue sky in the background" height="200"
                src="/images/tour1.png"
                width="300" />
            <div class="badge">
                12 Days
            </div>
            <div class="content">
                <div class="price">
                    From $50.00
                </div>
                <div class="rating">
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star">
                    </i>
                    <i class="fas fa-star-half-alt">
                    </i>
                    (2)
                </div>
                <div class="description">
                    A good traveler has no fixed plans and is not intent on arriving.
                </div>
                <div class="location">
                    Kuala Lumpur, Malaysia
                </div>
            </div>
        </div>
        <div class="pagination">
            <a href="#">
                <i class="fas fa-angle-double-left">
                </i>
            </a>
            <a class="active" href="#">
                1
            </a>
            <a href="#">
                2
            </a>
            <a href="#">
                3
            </a>
            <a href="#">
                4
            </a>
            <a href="#">
                <i class="fas fa-angle-double-right">
                </i>
            </a>
        </div>
    </div>
</section>

<script>
    const cards = document.querySelectorAll(".ss1 .card")
    
    cards.forEach(card => {
        card.addEventListener('click', () => {
            console.log('Card clicked');
            window.location.href = '/tours/details-tour';
        })
    })
</script>